<?xml version="1.0" encoding="utf-8" ?>
<!--
  This file is used to configure the test runner for the project.
  It is used to exclude certain files from the coverage report.
  It is also used to configure the data collectors for the test runner.
-->
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>cobertura,opencover</Format>
                    <Exclude>[*.Tests?]*</Exclude> <!-- [Assembly-Filter]Type-Filter -->
                    <ExcludeByFile>**/Migrations/*.cs</ExcludeByFile> <!-- Globbing filter -->
                    <SkipAutoProps>true</SkipAutoProps>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>