# This should mirror the .env.example of the client app.
AUTH_AUTH0_ID="yactr-dev-client"
AUTH_AUTH0_SECRET="yactr-dev-secret"
AUTH_AUTH0_ISSUER="http://localhost:5556/dex"
AUTH_AUTH0_AUDIENCE="yactr-dev-client"