# These are the AUTH settings for the application when ran through docker-compose with the dex container.
AUTH_CLIENT_ID="yactr-dev-client"
AUTH_CLIENT_SECRET="yactr-dev-secret"
AUTH_ISSUER="http://localhost:5556/dex"
AUTH_AUDIENCE="yactr-dev-client"

# This is the base url when the application is running in docker / production build.
API_BASE_URL=http://localhost:8080

# This is the base url when the application is running through dotnet-watch
# API_BASE_URL=http://localhost:5016