# This should mirror the .env.example of the client app.
AUTH_AUTH0_ID="some-auth0-client-id"
AUTH_AUTH0_SECRET="some-auth0-client-secret"
AUTH_AUTH0_ISSUER="some-auth0-issuer"
AUTH_AUTH0_AUDIENCE="https://example-audience.org"