name: Test Coverage
on:
  push:
    branches: [ main ]
    paths:
      - src/**
      - test/**
      - .github/workflows/test-coverage.yaml
  pull_request:
    branches: [ main ]
  

env:
  REGISTRY: ${{ secrets.PRIVATE_REGISTRY_HOST }}
  REGISTRY_USERNAME: ${{ secrets.PRIVATE_REGISTRY_USERNAME }}
  REGISTRY_PASSWORD: ${{ secrets.PRIVATE_REGISTRY_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: CI Test Coverage
    steps:
    - name: Checkout
      uses: actions/checkout@v4.2.2

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Log in to Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ env.REGISTRY_USERNAME }}
        password: ${{ env.REGISTRY_PASSWORD }}

    - name: Run docker compose
      uses: hoverkraft-tech/compose-action@v2.0.1
      with:
        compose-file: "./docker-compose.yaml"
        compose-flags: "--profile test"

    - name: Restore Dependencies
      run: dotnet restore YACTR.sln

    - name: Build
      run: dotnet build YACTR.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test YACTR.sln --settings ./tests.runsettings --configuration Release --no-build --verbosity minimal --collect:"XPlat Code Coverage"

    - name: Merge coverage reports
      run: |
        dotnet tool install -g dotnet-reportgenerator-globaltool
        reportgenerator -reports:"tests/**/TestResults/**/coverage.cobertura.xml" -targetdir:"coverage-merged" -reporttypes:"Cobertura"

    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coverage-merged/Cobertura.xml
        badge: true
        fail_below_min: true
        format: markdown
        hide_branch_rate: false
        hide_complexity: true
        indicators: true
        output: both
        thresholds: '60 80'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md