BETTER_AUTH_SECRET={BETTER_AUTH_SECRET}
AUTH_AUTH0_ID={AUTH_AUTH0_CLIENT_ID}
AUTH_AUTH0_SECRET={AUTH_AUTH0_CLIENT_SECRET}
AUTH_AUTH0_ISSUER={AUTH_AUTH0_ISSUER}
AUTH_AUTH0_AUDIENCE={AUTH_AUTH0_AUDIENCE}
YACTR_BASE_API_URL={YACTR_BASE_API_URL}